.search__page-info {
  padding: 20px;
}

.search__page-info > p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #00416d;
}
.search__page-info > h1 {
  margin-bottom: 30px;
  color: #ff4b5c;
}

.search__page-info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
  background-color: #28df99;
}

.search__page-info > button:hover {
  background-color: #99f3bd;
}
